@font-face {
    font-family: rohanFont ;
    src: url(./assets/4.ttf);
}

@font-face {
    font-family: rohanFont2 ;
    src: url(./assets/2.ttf);
}

@font-face {
    font-family: rohanFont3 ;
    src: url(./assets/3.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

html, body{
    height: 100%;
    width: 100%;
}
 
.slideshow{
    width: 100%;
    height: 3.1vh;
    font-family: rohanFont2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 10;
    color: #161514;
    background-color: #F6F5F4;
    z-index: 1000;
    font-size: 0.74vw;
    backdrop-filter: blur(10px);
}

.informationshow{
    width: 100%;
    height: 70vh;
    padding: 10vh 0 0 0;
    background-color: #111;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fafafa;
    /* background-image: url(/assets/pexels-azizico-28970679.jpg); */
    /* filter: blur(1px); */
}

p{
    padding: 0.7vh;
    font-family: inter;
}

.button1{
    padding: 0.9vh 1.3vh 0.9vh 1.3vh;
    margin: 2.5vh 0 2.9vh 0;
    font-family: rohanFont3;
    font-size: 0.9vw;
    border-radius: 0.8vh;
    border: none;
}

.button2{
    padding: 0.25vh 0 0.3vh 0.3vh 0.3vh;
    margin: 2.5vh 0 2.5vh 0;;
    text-decoration: none;
    font-family: rohanFont2;
    font-size: 0.9vw;
    color: #5d9af4;
    transition: color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6px;
}

.button2:hover{
    color: #e61818;
    cursor: pointer;
    transform: scale(1.01);
    transition: color 0.3s ease, transform 0.3s ease;
}

#newOne{
    color: #5d9af4;
    font-size: 1vw;
    transition: color 0.3s ease;
}

#newOne:hover{
    color: #e61818;
    cursor: pointer;
    transform: scale(1.3);
    transition: color 0.3s ease, transform 0.3s ease;
}

.twoin1{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.character{
    width: 50%;
    height: 40vh;
    background-image: url('./assets/hellllooo.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.title{
    text-align: center;
    font-size: 2.8vw;
}

.navbar{
    width: 100%;
    height: 5.1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    background-color: rgb(26, 26, 26);
    /* filter: blur(1px); */
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
    /* backdrop-filter: blur(10px); */
}

nav a{
    text-decoration: none;
    font-family: rohanFont; 
    color: white;
    font-size: 0.8vw;
    font-weight: 100;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #b9b6b6;
    transform: scale(1.1); 
    transition: color 0.3s ease;
}

.navbar-scrolled {
    width: 100%;
    height: 5.1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
    color: #161514;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

i{
    color: #fff;
    font-size: 1vw;
    transition: color 0.3s ease;
}

i:hover{
    color: #e61818;
    cursor: pointer;
    transform: scale(1.3);
    transition: color 0.3s ease, transform 0.3s ease;
}

.heading {
    width: 100%;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    background: linear-gradient(135deg, #676767, #161514);
    color: white;
    font-weight: bold;
    z-index: -99;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #111;
    z-index: 1;
}

.resume{
    margin-top: 5vh;
    width: 61.2%;
    height: 126vh;
    margin-bottom: 10vh;
    /* background-color: #fff; */
}

.img{
    width: 100%;
    height: 52vh;
}

#imgTwo{
    transform-origin: top;
    transform: perspective(1000px) rotateX(-90deg);
}

#imgThree{
    transform-origin: top;
    transform: perspective(1000px) rotateX(-90deg);
}

.img img{
    width: 100%;
}

.text{
    width: 100%;
    height: 100.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.text h1{
    color: #161617;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4vw;
    font-weight: 300;
}

.overlay{
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #111;
}